/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Outfit',sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0a0a0a;
    color:#fff;
    animation:fadeIn .7s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}

::selection{
    background:#facc15;
    color:#000;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#0a0a0a;
}

::-webkit-scrollbar-thumb{
    background:#facc15;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#fde047;
}

/* NAVBAR */

header{
    position:sticky;
    top:0;
    z-index:1000;
    background: rgba(10,10,10,.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid #1f1f1f;
}

.navbar{
    width:85%;
    height:90px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;

    text-decoration:none;
    color:#fff;
    font-size:32px;
    font-weight:700;
    letter-spacing:.5px;
}

.logo img{
    width:42px;
    height:42px;
    object-fit:contain;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-size:16px;
    transition:.3s;
    position:relative;
    font-weight:500;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;

    width:0;
    height:2px;

    background:#facc15;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.nav-links a:hover{
    color:#fff;
}

.nav-links a.active{
    color:#ffe0b7;
}

.nav-links a.active::after{
    width:100%;
}

.nav-btn{
    text-decoration:none;
    color:#000;
    background:#facc15;
    border-radius:50px;
    padding:13px 28px;
    font-weight:600;
    transition:.3s;
}

.nav-btn:hover{
    background:#fde047;
}

/* HERO */

.hero{
    width:85%;
    margin:auto;
    min-height:calc(100vh - 80px);
    scroll-margin-top: 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;
}

.hero-content{
    flex:1;
}

.greeting{
    color:#facc15;
    font-size:18px;
    font-weight:600;
}

.hero-content h1{
    font-size:4.5rem;
    margin:15px 0;
    line-height:1.1;
}

.hero-content h2{
    font-size:2rem;
    color:#d4d4d4;
    margin-bottom:20px;
}

.hero-content p{
    font-size:1.2rem;
    color:#9ca3af;
    max-width:420px;
    line-height:1.8;
}

.hero-buttons{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.hero-buttons a{
    text-decoration:none;
    padding:14px 30px;
    border-radius:40px;
    font-weight:600;
    transition:.3s;
}

.btn-primary{
    background:#facc15;
    color:#000;
}

.btn-primary:hover{
    background:#fde047;
}

.btn-secondary{
    border:2px solid #facc15;
    color:#fff;
}

.btn-secondary:hover{
    background:#facc15;
    color:#000;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.circle{
    width:420px;
    height:420px;
    border-radius:50%;
    background:#facc15;

    position:absolute;
    z-index:0;

    opacity:.18;
    filter:blur(80px);
}

.hero-image img{
    width:420px;
    border-radius:50%;
    position:relative;
    z-index:1;
    border:2px solid rgba(250,204,21,.35);
    box-shadow:
        0 0 40px rgba(250,204,21,.15),
        0 20px 60px rgba(0,0,0,.5);
}
/* RESPONSIVE */

@media (max-width:992px){

    .navbar{
        width:92%;
    }

    .nav-links{
        display:none;
    }

    .hero{
        width:92%;
        flex-direction:column-reverse;
        text-align:center;
        padding:60px 0;
    }

    .hero-content p{
        margin:auto;
    }

    .hero-buttons{
        justify-content:center;
    }

    .hero-content h1{
        font-size:3.2rem;
    }

    .hero-content h2{
        font-size:1.6rem;
    }

    .hero-image img{
        width:320px;
    }

    .circle{
        width:320px;
        height:320px;
    }
}

.services{
    width:85%;
    margin:120px auto;
    scroll-margin-top: 100px;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title span{
    color:#facc15;
    font-size:15px;
    font-weight:600;
    letter-spacing:2px;
}

.section-title h2{
    font-size:48px;
    margin:15px 0;
    font-weight:700;
}

.section-title p{
    color:#9ca3af;
    max-width:600px;
    margin:auto;
    line-height:1.8;
}

.service-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.service-card{
    background:#111;
    border:1px solid #222;
    border-radius:20px;
    padding:40px 30px;
    transition:.3s;
    box-shadow:0 10px 30px rgba(0, 53, 70, 0.32)
}

.service-card:hover{
    transform:translateY(-8px);
    border-color:#facc15;
}

.icon{
    font-size:45px;
    margin-bottom:20px;
}

.service-card h3{
    font-size:24px;
    margin-bottom:15px;
}

.service-card p{
    color:#9ca3af;
    line-height:1.8;
}

@media(max-width:992px){

    .service-container{
        grid-template-columns:1fr;
    }

}

.work{
    width:85%;
    margin:120px auto;
    scroll-margin-top: 100px;
}

.work-grid{
    margin-top:60px;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.project-card{
    background:#111;
    border-radius:20px;
    overflow:hidden;
    border:1px solid #222;
    transition:.3s;
    box-shadow:0 10px 30px rgba(75, 75, 75, 0.35);
}

.project-card:hover{
    transform:translateY(-10px);
    border-color:#facc15;
}

.project-card img{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
    transition:.35s ease;
    overflow:hidden;

}

.project-card:hover img{
    transform:scale(1.05);
}

.project-content{
    padding:25px;
    line-height: 1.9;
}

.project-content a{
    text-decoration: none;
}

.project-content h3{
    font-size:26px;
    margin-bottom:12px;
    font-weight:700;
}

.project-content p{
    color:#9ca3af;
    line-height:1.8;
}

.project-buttons{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.project-buttons a{
    flex:1;
    text-align:center;
    text-decoration:none;
    padding:12px 0;
    border-radius:10px;
    font-size:15px;
    font-weight:600;
    transition:.3s ease;
}

.view-all{
    margin-top:0px;
    display:flex;
    justify-content:center;
}

.view-all a{
    text-decoration:none;
    color:#facc15;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.view-all a i{
    margin-left:8px;
    transition:.3s;
}

.view-all a:hover{
    color:#fde047;
}

.view-all a:hover i{
    transform:translateX(8px);
}

.live-btn{
    background:#facc15;
    color:#000;
}

.live-btn:hover{
    background:#fde047;
}

.github-btn{
    border:2px solid #facc15;
    color:#fff;
}

.github-btn:hover{
    background:#facc15;
    color:#000;
}

@media(max-width:992px){

    .work-grid{
        grid-template-columns:1fr;
    }

}

.about{
    width:85%;
    margin:120px auto;
    scroll-margin-top: 100px;
    display:flex;
    align-items:center;
    gap:80px;
}

.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    border-radius:400px;
}

.about-content{
    flex:1;
}

.about-content span{
    color:#facc15;
    letter-spacing:2px;
    font-weight:600;
}

.about-content h2{
    font-size:42px;
    margin:20px 0;
}

.about-content p{
    color:#9ca3af;
    line-height:1.8;
}

.about-info{
    display:flex;
    gap:50px;
    margin-top:40px;
    text-align: center;
}

.about-info h3{
    color:#facc15;
    font-size:36px;
    margin-bottom:8px;
}

.about-info p{
    color:#d4d4d4;
    text-align: center;
}

@media(max-width:992px){

    .about{
        flex-direction:column;
        text-align:center;
    }

    .about-info{
        justify-content:center;
        flex-wrap:wrap;
    }

}

.contact{
    width:85%;
    margin:120px auto;
    scroll-margin-top: 100px;
}

.contact-container{
    margin-top:60px;

    display:grid;
    grid-template-columns:1fr 2fr;
    gap:50px;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.info-box{
    background:#111;
    border:1px solid #222;
    border-radius:16px;
    padding:25px;
}

.info-box h3{
    color:#facc15;
    margin-bottom:10px;
}

.info-box p{
    color:#9ca3af;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:16px 20px;
    background:#111;
    border:1px solid #222;
    border-radius:12px;
    color:#fff;
    font-size:16px;
    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#facc15;
    box-shadow:0 0 15px rgba(250,204,21,.2);
}

.contact-form textarea{
    resize:none;
}

.contact-form button{
    width:fit-content;
    padding:14px 35px;
    background:#facc15;
    color:#000;
    border:none;
    border-radius:40px;
    font-weight:600;
    cursor:pointer;
}

.contact-form button:hover{
    background:#fde047;
}

@media(max-width:992px){

    .contact-container{
        grid-template-columns:1fr;
    }

}

footer{
    margin-top:120px;
    background:#111;
    border-top:1px solid #222;
}

.footer-container{
    width:85%;
    margin:auto;
    padding:70px 0;

    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:50px;
}

.footer-logo h2{
    font-size:32px;
    margin-bottom:20px;
}

.footer-logo p{
    color:#9ca3af;
    line-height:1.8;
    max-width:350px;
}

.footer-links h3,
.footer-social h3{
    margin-bottom:20px;
}

.footer-links ul{
    list-style:none;
}

.footer-links li{
    margin-bottom:12px;
}

.footer-links a,
.footer-social a{
    color:#9ca3af;
    text-decoration:none;
    transition:.3s;
}

.footer-links a:hover,
.footer-social a:hover{
    color:#facc15;
}

.footer-social{
    display:flex;
    flex-direction:column;
    gap:15px;
}

hr{
    border:none;
    border-top:1px solid #222;
}

.copyright{
    text-align:center;
    padding:25px 0;
}

.copyright p{
    color:#9ca3af;
    font-size:15px;
}

@media(max-width:992px){

    .footer-container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .footer-logo p{
        margin:auto;
    }

    .footer-social{
        align-items:center;
    }

}

.hidden{
    opacity:0;
    transform:translateY(50px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}
i{
    margin-right:8px;
}